

@define-color bg #11111b;
@define-color text #cdd6f4;
@define-color bg-btn #313244;
@define-color text-focus #268bd2;
@define-color battery #a6e3a1;
@define-color purple #30304A;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;


* {
	font-size: 20px;
	font-family: monospace;
}

window#waybar {
	background: @bg;
	color: @text;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: @bg-btn;
	font-size: 2rem;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	font-size: 2rem;
	color: @bg;
	background: @bg-btn;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#wireplumber,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: @bg-btn;
}

#workspaces button {
	color: @text;
}
#workspaces button.focused {
	color: @text-focus;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: @bg-btn;
	border: @bg-btn;
	padding: 0 3px;
}

#wireplumber {
	color: @sapphire;
}
#battery {
	color: @battery;
}

#clock,
#wireplumber,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
