
layout {
    
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical"{

	pane name="editor"{
	    command "nvim"
	}
	pane name="zola"{
	    command "zola" 
	    args "serve" "--drafts"
	}
    }

}
